%h1= "#{@perfume.title}, #{@perfume.year}"
.container
  .perfume
    .layers
      - @perfume.layer_types.each do |layer_type|
        - name = layer_type.name
        .layer{id: name}
          %h4= name.capitalize
          .notes
          - @perfume.send("#{name}_notes").each do |note|
            %span.note= link_to note.name, note_path(note.id)

  = link_to 'All Perfumes', perfumes_path
  = link_to 'All Notes', notes_path
