%h1= "#{@perfume.name} ~ perfume"
.perfumes
  .perfumes__perfume[@perfume]
    .perfume__loveit!= '&#9825;'
    .perfume_details
      %p
        = "Created by #{@perfume.brand.name}, "
        = "in #{@perfume.year}"
    .layers
      = render 'layers', object: @perfume

= javascript_include_tag 'application', 'data-turbolinks-track' => true
